.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;
}

.overlay {
  position: absolute;

  bottom: 0;
  left: 0;

  height: auto;
  width: auto;

  color: #fcfcfc;

  margin: 2rem;
  font-family: 'Public Sans';

  display: flex;
  flex-direction: column;

  gap: 0rem;
}

.overlay p {
  font-weight: 100;
}

.mainTitle {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  color: #fcfcfc;
  font-family: 'Public Sans';
  color: #fcfcfc;

  font-weight: 900;
  font-size: 6rem;

  padding-left: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle h1 {
  font-smooth: antialiased;
}


.sceneBackground {
  z-index: 1;

  height: 100%;
  width: 100%;

  position: absolute;

  top: 0;
  left: 0;
}